<a href="https://colab.research.google.com/github/mfatima1010/Chance_of_admission_prediction/blob/main/Chance_of_admission_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
admission = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Admission%20Chance.csv')

In [ ]:
admission.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [ ]:
admission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No          400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4    SOP               400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [ ]:
admission.describe()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [ ]:
admission.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [ ]:
y=admission['Chance of Admit ']
x=admission[['GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research']]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.7, random_state=0)

In [ ]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((280, 7), (120, 7), (280,), (120,))

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
model.intercept_

-1.3144070910249157

In [ ]:
model.coef_

array([ 0.00186803,  0.0022731 ,  0.00270635, -0.0030745 ,  0.02071688,
        0.13025483,  0.02269622])

In [ ]:
y_pred = model.predict(x_test)
y_pred

array([0.69175175, 0.69339461, 0.77820827, 0.61977251, 0.72309583,
       0.60352877, 0.70914747, 0.63880871, 0.87997331, 0.9201355 ,
       0.54173131, 0.88007021, 0.71400929, 0.45711411, 0.85266316,
       0.62476582, 0.63345967, 0.8200097 , 0.5835731 , 0.73447013,
       0.87672094, 0.84440339, 0.65736736, 0.45318512, 0.78323306,
       0.58193833, 0.49691549, 0.64109606, 0.88377962, 0.6533297 ,
       0.63818259, 0.73843136, 0.74089879, 0.55903223, 0.78173734,
       0.77059112, 0.6508724 , 0.86252923, 0.62918858, 0.93287858,
       0.7248404 , 0.67317809, 0.705548  , 0.80386692, 0.83180368,
       0.65058351, 0.56020385, 0.69110605, 0.60948953, 0.60217666,
       0.67774976, 0.8057683 , 0.65105075, 0.87403557, 0.72365635,
       0.75395468, 0.69860812, 0.73071454, 0.75331522, 0.82618218,
       0.77485152, 0.47505564, 0.63709077, 0.52209386, 0.83621102,
       0.82403099, 0.73937732, 0.86457347, 0.76943623, 0.75229363,
       0.59859976, 0.82452534, 0.83126658, 0.6036793 , 0.93113798,
       0.63253116, 0.64014748, 0.64844396, 0.909559  , 0.5151284 ,
       0.72716384, 0.74963908, 0.58150085, 0.86114123, 0.5953207 ,
       0.80319418, 0.65256768, 0.72911776, 0.81094356, 0.85170215,
       0.77787637, 0.94656924, 0.53575367, 0.55126609, 0.84154389,
       0.67102171, 0.76788613, 0.62836687, 0.75445425, 0.76433317,
       0.70943343, 0.70237232, 0.79497839, 0.53624994, 0.78209295,
       0.69733888, 0.95265022, 0.60970232, 0.75100363, 0.66933435,
       0.58489919, 0.7568867 , 0.7070813 , 0.68901296, 0.83745069,
       0.86075849, 0.90236562, 0.75005971, 0.66579731, 0.61867928])

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [ ]:
mean_absolute_error(y_test,y_pred)

0.04692893505624036

In [ ]:
mean_absolute_percentage_error(y_test,y_pred)

0.07495811694870433

In [ ]:
mean_squared_error(y_test,y_pred)

0.004377217459382592